<tbody>
    <%for(var i = 0; i< user.length ;i++;){}%>
        <tr>
            <td>
                <%= i+1%>
            </td>
            <td>
                <%=user[i].name%>
            </td>
            <td>
                <%=user[i].email%>
            </td>
            <td>
                <%=user[i].gender
                %>
            </td>
            <td>
                <%=%>
            </td>
            <td>
                <a href="/update-user" class="btn border-shadow update">Edit</a>
                <a href="#" class="btn border-shadow detele">Delete</a>
            </td>
        </tr>
        <%}%>
</tbody>